<h1>게시판</h1>
<p>글 목록</p>

<a href="/posts/new">게시글 작성</a>
<% @posts.each do |post|%>
    <p><%= post.id%></p>
    <p><%= post.title%></p>
    <p><%= post.body%></p>
    <p><%= post.created_at%></p>
    <a href='posts/<%= post.id%>'>글보기</a>
    <a href='posts/<%= post.id%>/destroy'>글삭제</a>
    <a href='posts/<%= post.id%>/edit'>글수정</a>
    <hr />
<%end%>
