<%= link_to '글쓰기', new_post_path ,class: "btn btn-danger"%>
<% @posts.each do |post| %>
  <p><%= post.user.email %>님의 글</p>
  <p><%= post.id %>번째 글</p>
  <p><%= post.title %></p>
  <p><%= post.content %></p>
  <%= link_to '글보기', post ,class: "btn btn-primary" %>
  <hr />
<% end %>

<%=paginate @posts %>
