<h1>글 봐!!</h1>
<%= @post.id %>번째 글
<%= @post.title %>
<%= @post.content %>

<%if current_user.id==@post.id %>
<%= link_to '수정하기', edit_post_path(@post) %>
<%= link_to '삭제하기',
                      @post,
                      method: :delete,
                      data: {confirm: '너지울거야?'} %>

<hr />
<%end%>
<form action="/posts/<%= @post.id%>/comments" method="post">
  <input type="text" name="content" /><br />
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" />
</form>
<hr />

<% @comments.each do |comment| %>
  <%= comment.content %>
  <hr />
<% end %>
