<h1>Posts#index</h1>
<div class="container">
  <div class="row justify-content-md-center">

<h1><a href="/posts/new">new</a></h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">username</th>
      <th scope="col">title</th>
      <th scope="col">edit</th>
      <th scope="col">del</th>
      <th scope="col">show</th>
    </tr>
  </thead>
  <tbody>
<% @posts.each do |p|%>
  <tr>
    <td> <%= p.username %> </td>
    <td>  <%= p.title %></td>
    <td><a href="/posts/edit/<%= p.id %>">edit</a> </td>
    <td><a href="/posts/destroy/<%= p.id %>">del</a> </td>
    <td>  <a href="/posts/show/<%= p.id %>">show</a>   </td>
  </tr>
<%end%>
  </tbody>
  </table>
</div>
</div>
